{% extends 'base.html' %}
{% load static %}

{% block title %}Página Inicial - TimeMaster{% endblock %}

{% block content %}


<!--Inicio da tela principal-->
<div class="main-container">


  <div class="top-bar">
    <span class="welcome">Bem-vindo, {{ user.first_name }}</span>
    <a href="{% url 'logout' %}" class="logout-link">
      <i class="fas fa-sign-out-alt"></i>Logout</a>
  </div>

  <!-- CONTEÚDO PRINCIPAL -->
  <div class="pagina_inicial-content">
    
    <!-- COLUNA CIMA -->
<div class="left-panel">
  <h2>Obras Pendentes</h2>
  <ul class="obra-list">
    {% for obra in obras_sem_previsao %}
      <li class="obra-item">
        <div class="obra-info">
          <span class="obra-nome">{{ obra.nome }}</span>
          <span class="obra-cliente">{{ obra.cliente }}</span>
          <span class="badge badge-warning">Sem data de entrega</span>
        </div>
        <a href="{% url 'agenda:agenda_adicionar' obra.id %}" class="btn-agendar">Agendar Obra</a>
      </li>
    {% empty %}
      <li class="nenhuma-obra">Nenhuma obra pendente sem data de entrega.</li>
    {% endfor %}
  </ul>
</div>


    <!-- COLUNA BAIXO -->
    <div class="right-panel">
      
      <!-- AGENDAMENTOS DE HOJE -->
      <div class="agendamentos-hoje">
        <h2>Entregas para</h2>
        <form method="get" action="{% url 'pagina_inicial' %}" class="data-form">
          <input type="date" name="data_hoje" value="{{ data_hoje|date:'Y-m-d' }}">
          <button type="submit">Buscar</button>
        </form>

        <ul class="lista-agendamentos">
          {% for agendamento in agendamentos %}
            <li>
              {{ agendamento.obra }}
              <span class="cor" ></span>
            </li>
          {% empty %}
            <li>Sem agendamentos para hoje.</li>
          {% endfor %}
        </ul>
      </div>

      <!-- AGENDA DA SEMANA -->
      <div class="agenda-semana">
        <h2>Nessa semana</h2>
        <ul>
          {% for dia, entregas in agenda_semana.items %}
            {% if entregas %}
              <li>
                <strong>{{ dia|date:"d/m" }}</strong>: 
                {{ entregas|length }} entrega{{ entregas|length|pluralize:"s" }}
              </li>
            {% else %}
              <li><strong>{{ dia|date:"d/m" }}</strong>: Nenhuma entrega</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      <!-- ESTATÍSTICAS -->
      <div class="estatisticas">
        <h2>Estatísticas de obras agendadas</h2>
        <ul>
          <li>Total de Obras em aberto: {{ obras_nao_realizadas|length }}</li>
          <li>Obras com agendamento: {{ obras_com_agendamento|length }}</li>
          <li>Obras sem agendamento: {{ obras_sem_previsao|length }}</li>
        </ul>
      </div>

    </div>
  </div>
</div>
{% endblock %}