{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Equipe Nobre{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>

<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

<!--Sidebar-->
<input type="checkbox" id="check">

<label for="check">
  <i class="fas fa-bars" id="btn"></i>
  <i class="fas fa-times" id="cancel"></i>
</label>

<div class="sidebar">
  
  <header>Menu</header>
      {% load static %}
  <link rel="stylesheet" href="{% static 'TelaPrincipal/telaprincipal.css' %}">
    <a href="{% url 'PaginaPrincipal:pagina_inicial' %}" class="link-sidebar active">
      <i class="fas fa-qrcode"></i>
      <span>Pagina Inicial</span>
    </a>
    
    <a href="{% url 'agenda:novo_agendamento' %}" class="link-sidebar">
      <i class="fas fa-calendar-days"></i>
      <span>Agenda</span>
    </a>
  
    <a href="{% url 'obra:cadastrar_obra' %}" class="link-sidebar">
       <i class="fas fa-edit"></i>
      <span>Obras</span>
    </a>

    <a href="#" class="link-sidebar">
      <i class="far fa-question-circle"></i>
      <span>Usuarios</span>
    </a>
    
    <a href="#" class="link-sidebar">
      <i class="fas fa-sliders-h"></i>
      <span>Serviços</span>
    </a>
    
    <a href="#" class="link-sidebar">
      <i class="far fa-envelope"></i>
      <span>Contato</span>
    </a>

</div>
<!--Fim Sidebar-->

<div class="content">
    {% block content %}
    {% endblock %}
  </div>

</body>
</html>