{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Equipe Nobre{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">


</head>
<body>

<!-- Topbar -->
<div class="topbar">
  <div class="topbar-left">
    <i class="fas fa-bars" id="openSidebar"></i>
  </div>
  <div class="nameuser">
    <span class="user-name">Bem-vindo, {{ user.first_name }}</span>
  </div>
  <div class="topbar-right">
    <div class="user-menu">
      <span id="userButton">Usuário ▾</span>
      <div id="userDropdown" class="dropdown-content">
        <a href="{% url 'alterar_senha' %}">Alterar senha</a>
        <a href="{% url 'logout' %}">Sair</a>
      </div>
    </div>
  </div>
</div>

<!-- Sidebar -->
<div class="sidebar" id="sidebar"> 
  <header>Menu</header>

  <a href="{% url 'PaginaPrincipal:pagina_inicial' %}" 
    class="link-sidebar {% if request.resolver_match.url_name == 'pagina_inicial' %}active{% endif %}">
    <i class="fas fa-qrcode"></i><span>Pagina Inicial</span>
  </a>

<div class="sidebar-item {% if request.resolver_match.url_name == 'novo_agendamento' or request.resolver_match.url_name == 'listar' %}active{% endif %}">
  <a href="#" class="link-sidebar toggle-submenu {% if request.resolver_match.url_name == 'novo_agendamento' or request.resolver_match.url_name == 'listar' %}active{% endif %}">
    <i class="fas fa-calendar-days"></i><span>Agenda</span>
  </a>
  <ul class="submenu">
    <li><a href="{% url 'agenda:novo_agendamento' %}">Novo Agendamento</a></li>
    <li><a href="{% url 'agenda:listar' %}">Listar Agendamentos</a></li>
  </ul>
</div>

  </a>
  <a href="{% url 'obra:cadastrar_obra' %}" 
    class="link-sidebar {% if request.resolver_match.url_name == 'cadastrar_obra' %}active{% endif %}">
    <i class="fas fa-edit"></i><span>Obras</span>
  </a>
</div>

<!-- Conteúdo principal -->
<div class="content" id="content">
  {% block content %}
  {% endblock %}
</div>

<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
