{% extends 'base.html' %}
{% load static %}

{% block title %}Agenda{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'agenda/agenda.css' %}">
{% endblock %}

{% block content %}
<div class="calendar">
  <div id="calendar"></div>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'agenda/core/index.global.min.js' %}"></script>
<script src="{% static 'agenda/daygrid/index.global.min.js' %}"></script>
<script src="{% static 'agenda/timegrid/index.global.min.js' %}"></script>
<script src="{% static 'agenda/list/index.global.min.js' %}"></script>
<script src="{% static 'agenda/interaction/index.global.min.js' %}"></script> {# Necessário para editable, selectable, navLinks #}
<script src="{% static 'agenda/locales/pt-br.global.min.js' %}"></script> 
<script src="{% static 'agenda/agenda.js' %}"></script>
{% endblock %}