{% extends 'base.html' %}
{% load static %}

{% block title %}Agenda{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'agenda/agenda.css' %}">
{% endblock %}

{% block content %}
<div class="calendar-container">
  <div id="calendar"></div>
</div>
<!-- Modal -->
<div id="eventoModal" class="modal" style="display:none;">
  <div class="modal-content">
    <span class="close" onclick="fecharModal()">&times;</span>
    <h2 id="modalTitulo"></h2>
    <p><strong>Data:</strong> <span id="modalData"></span></p>
    <p><strong>Montador:</strong> <span id="modalMontador"></span></p>
    <p><strong>Obra:</strong> <span id="modalObra"></span></p>
  </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'agenda/core/index.global.min.js' %}"></script>
<script src="{% static 'agenda/daygrid/index.global.min.js' %}"></script>
<script src="{% static 'agenda/timegrid/index.global.min.js' %}"></script>
<script src="{% static 'agenda/list/index.global.min.js' %}"></script>
<script src="{% static 'agenda/interaction/index.global.min.js' %}"></script> {# Necessário para editable, selectable, navLinks #}
<script src="{% static 'agenda/locales/pt-br.global.min.js' %}"></script> 
<script src="{% static 'agenda/agenda.js' %}"></script>
{% endblock %}