

/*Inicio Popup*/

.popup-aviso {
  background-color: #ffecec;
  border: 1px solid #ff5e5e;
  padding: 15px;
  margin-top: 20px;
  text-align: center;
  color: #a70000;
  font-weight: bold;
}

/*fim popup*/

/*Inicio da tela principal*/

.main-container {
  margin-left: 60px; 
  padding: 20px;
  font-family: 'Lato', sans-serif;
  background-color: #bdbdc5;
   transition: margin-left 0.3s ease;
}

#check:checked ~ .sidebar {
  left: 0;
}

#check:checked ~ .main-container {
  margin-left: 240px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.pagina_inicial-content {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
}

.left-panel,
.right-panel {
  background: #6b6767;
  padding: 20px;
  border-radius: 8px;
}



.left-panel {
  flex: 1 1 60%;
  min-width: 300px;
  background: #6b6767;
  padding: 20px;
  border-radius: 8px;
}
.right-panel {
  flex: 1 1 35%;
  min-width: 300px;
  background: #6b6767;
  padding: 20px;
  border-radius: 8px;
}

ul {
  list-style: none;
  padding: 0;
}

.obra-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin-bottom: 8px;
  background: #f8f9fa;
  border-radius: 4px;
}

.btn-agendar {
  background: #28a745;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
}

.cor {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 10px;
}