body {
  font-family: 'Lato', sans-serif;
  background-color: #f9f9f9;
  line-height: 1.6;
}

.lista-agenda-container {
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h2{
  text-align: center;
  color: #2c3e50;
  margin-bottom: 20px;
}

.filtros-tabela {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.filtros-tabela input {
  padding: 8px;
  font-size: 1rem;
}

.btn-filtrar {
  padding: 8px 12px;
  background-color: #006bdc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.btn-filtrar i {
  font-size: 16px;
}

.tabela-agendamentos {
  width: 100%;
  border: 1px solid #000000;
}

.tabela-wrapper {
  overflow-x: auto;
  background-color: white;
  border: 1px solid #000000;
  border-radius: 6px;
}

.tabela-agendamentos th,
.tabela-agendamentos td {
  padding: 12px; /* Readiciona o padding */
  border: 1px solid #000000; /* Define suas bordas */
  text-align: left;
}

.tabela-agendamentos thead {
  background-color: #000000;
  color: white;
}

.botao-novo {
  float: right;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #006bdc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.botao-novo:hover {
  background-color: #004f9a;
}

/*paginacao */
.paginacao {
  text-align: center;
  margin-top: 20px;
}

.paginacao a {
  margin: 0 5px;
  padding: 6px 12px;
  background-color: #006bdc;
  color: white;
  border-radius: 4px;
  text-decoration: none;
}

.paginacao a:hover {
  background-color: #004f9a;
}

.paginacao span {
  margin: 0 10px;
  font-weight: bold;
}

/* Filtros por status */
.filtros-status {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.status-card {
  padding: 15px 25px;
  background-color: #f1f1f1;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid transparent;
  font-weight: bold;
  margin: 5px;
  transition: all 0.3s ease;
}

.status-card:hover,
.status-card.active {
  background-color: #006bdc;
  color: white;
  border-color: #004a9c;
}
