{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'obra/cadObra.css' %}">
{% endblock %}

{% block content %}
<div class="obra-container">
  <h2>Cadastrar Obra</h2>
  
  <!-- Formulário Estilizado -->
  <form method="post" id="obra-form" class="obra-form">
    {% csrf_token %}
    
    <div class="form-group">
      <label for="id_nome">Nome:</label>
      {{ form.nome }}
    </div>
    
    <div class="form-group">
      <label for="id_numero_controle">Número de Controle:</label>
      {{ form.numero }}
    </div>
    
    <div class="form-group">
      <label for="id_endereco">Endereço:</label>
      {{ form.endereco }}
    </div>
    
    <div class="form-group">
      <label for="id_cliente">Nome do Cliente:</label>
      {{ form.cliente }}
    </div>
    
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>

  {% endblock %}
  

{% block scripts %}
<script src="{% static 'obra/cadObra.js' %}"></script>
{% endblock %}