:root {
  --accent-color: #fd9432;
  --gradient-color: #0d32d8;
}

html, body {
    height: 100%; /* Faz com que html e body ocupem 100% da altura da tela */
    margin: 0;
    padding: 0;
}

/* Sidebar */
.sidebar {
  position: fixed;
  z-index: 999;
  width: 240px;
  left: -240px;
  height: 100%;
  background-color: #202020;
  transition: left 0.3s ease;
}

.sidebar.sidebar-open {
  left: 0;
}

.sidebar header {
  font-size: 28px;
  color: #ffffff;
  line-height: 70px;
  text-align: center;
  background-color: #202020;
  user-select: none;
  font-family: 'Lato', sans-serif;
}

.link-sidebar {
  display: block;
  height: 65px;
  width: 100%;
  color: #ffffff;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-left: 5px solid transparent;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  transition: all 0.3s ease;
}

.link-sidebar i {
  font-size: 23px;
  margin-right: 16px;
}

.link-sidebar span {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.link-sidebar.active,
.link-sidebar:hover {
  border-left: 5px solid var(--accent-color);
  color: #fff;
  background: linear-gradient(to left, var(--accent-color), var(--gradient-color));
}
/* Submenu - fechado por padrão */
.sidebar-item .submenu {
  display: none;
  padding-left: 20px;
  margin: 0;
  background-color: #2b2b2b;
  list-style: none;
  transition: max-height 0.3s ease;
}

/* Submenu visível ao ativar */
.sidebar-item.active .submenu {
  display: block;
}

/* Estilo dos links do submenu */
.submenu li {
  list-style: none;
}

.submenu li a {
  display: block;
  padding: 10px 30px;
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
  transition: background 0.3s ease, color 0.3s ease;
}

.submenu li a:hover {
  background-color: var(--accent-color);
  color: #fff;
}



/* Topbar */
.topbar {
  height: 60px;
  background-color: #202020;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 998;
  border-radius: 11px 11px 11px 11px;
  transition: margin-left 0.3s ease;
}

.topbar-left i {
  font-size: 22px;
  cursor: pointer;
}

.nameuser {
  font-size: 20px;
  color: #fff;
  margin-left: 20px;
  padding: 0;
  flex: 0 1 auto;
}

.user-menu {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1000;
  transition: right 0.3s ease;
}

.user-menu span {
  font-size: 20px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  color: #000;
  right: 0;
  top: 30px;
  min-width: 150px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.dropdown-content a {
  font-size: 18px;
  padding: 10px 15px;
  display: block;
  text-decoration: none;
  color: #000;
}

.dropdown-content a:hover {
  background-color: #f0f0f0;
}

.dropdown-content.show {
  display: block;
}

/* Conteúdo */
.content {
  position: absolute;
  top: 62px; 
  left: 10px; 
  right: 10px; 
  bottom: 05px; 
  background-color: #e0e0e0;
  overflow-y: scroll; /* Permite rolagem vertical, necessário para tela agenda */
  transition: padding-left 0.3s ease;
  border-radius:  0px 0px 11px 11px;
}



/* Quando o menu está aberto */
.shifted {
  margin-left: 240px;
}

/* Responsividade futura (manter desativada por enquanto) */
@media (max-width: 860px) {
  /* ativar depois se quiser responsivo */
}

